body {
	background-color: #f0f0f0;
	text-align: left;
	color: #999;
	font-family: ubuntu;
	padding-top: 120px;
	padding-left: 240px;
}
a:hover {
	background:#fff;
}
a {
	color: #999;
	text-decoration-line: none;
	padding:10px;
}
